/*====================================
  SILVER ARTS & SPORTS CLUB
  ONAM COUPON 2026
=====================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*========== RESET ==========*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    background:url("images/background.jpg") no-repeat center center fixed;
    background-size:cover;
    color:#fff;
    overflow-x:hidden;

}

/* Dark Overlay */

body::before{

    content:"";

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.45);

    z-index:-1;

}

/*====================================
        PREMIUM LOADER
====================================*/

.loader{

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:
    linear-gradient(rgba(0,20,8,.85),rgba(0,20,8,.85)),
    url("images/background.jpg") center/cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;

    transition:.8s;

}

.loader-container{

    position:relative;

    text-align:center;

}



/* Banner */

.loader-image{

    position:relative;

    width:650px;

    max-width:90vw;

    border-radius:25px;

    border:4px solid #FFD700;

    box-shadow:
    0 0 25px rgba(255,215,0,.8),
    0 0 60px rgba(255,215,0,.6);

    animation:zoomInOut 3s ease-in-out infinite;

}

/* Loading Text */

.loading-text{

    margin-top:30px;

    color:white;

    font-size:28px;

    letter-spacing:2px;

}

/* Progress Bar */

.loading-bar{

    width:320px;

    height:10px;

    margin:20px auto;

    border-radius:20px;

    overflow:hidden;

    background:rgba(255,255,255,.25);

}

.loading-progress{

    width:0;

    height:100%;

    background:linear-gradient(90deg,#FFD700,#FFF176,#FFD700);

    animation:loading 2s linear forwards;

    border-radius:20px;

}

/* Ring Rotation */

@keyframes ringRotate{

from{

transform:translate(-50%,-50%) rotate(0deg);

}

to{

transform:translate(-50%,-50%) rotate(360deg);

}

}

/* Image Animation */

@keyframes zoomInOut{

0%{

transform:scale(.96);

}

50%{

transform:scale(1.02);

}

100%{

transform:scale(.96);

}

}

/* Loading */

@keyframes loading{

from{

width:0%;

}

to{

width:100%;

}

}

/* Mobile */

@media(max-width:768px){

.gold-ring{

width:340px;
height:340px;

}

.loader-image{

width:92%;

}

.loading-bar{

width:220px;

}

.loading-text{

font-size:22px;

}

}

/*========== HEADER ==========*/

header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 40px;

    background:rgba(0,0,0,.25);

    backdrop-filter:blur(18px);

    z-index:999;

}

/*========== LOGO ==========*/

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo img{

    width:65px;
    height:65px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid rgba(255,255,255,.3);

    box-shadow:0 8px 20px rgba(0,0,0,.35);

}

.logo h2{

    font-size:20px;

    font-weight:700;

    color:#fff;

}

.logo p{

    font-size:13px;

    color:#ddd;

}

/*========== MENU ==========*/

nav{

    display:flex;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    color:#FFD700;

}

.menu{

    display:none;

    font-size:28px;

    cursor:pointer;

}

/*========== HERO ==========*/

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:120px 20px 80px;

}

.hero-overlay{

    width:100%;

    max-width:750px;

    padding:50px;

    border-radius:30px;

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(18px);

    box-shadow:0 20px 50px rgba(0,0,0,.4);

}

.hero-logo{

    width:120px;

    margin:auto;

    margin-bottom:20px;

    filter:drop-shadow(0 8px 18px rgba(0,0,0,.5));

}

.hero h3{

    color:#FFD700;

    font-size:22px;

}

.hero h1{

    margin-top:10px;

    font-size:68px;

    font-weight:800;

    line-height:1.1;

}

.hero h2{

    margin-top:10px;

    font-size:34px;

    color:#FFD700;

}

.hero p{

    margin-top:25px;

    line-height:1.8;

    font-size:18px;

    color:#f3f3f3;

}

/*========== BUTTONS ==========*/

.hero-buttons{

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn{

    padding:15px 35px;

    border-radius:50px;

    background:#0a8a39;

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.btn:hover{

    background:#FFD700;

    color:#000;

    transform:translateY(-4px);

}

.btn2{

    background:#FFD700;

    color:#000;

}

.btn2:hover{

    background:#0a8a39;

    color:white;

}
/*====================================
    COUNTDOWN SECTION
====================================*/

.countdown{

    width:100%;
    padding:90px 20px;

    text-align:center;

}

.countdown h2{

    font-size:42px;

    color:#FFD700;

    margin-bottom:15px;

}

.countdown p{

    color:#eee;

    font-size:18px;

    margin-bottom:45px;

}

.timer{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    flex-wrap:wrap;

}

.box{

    width:140px;

    height:140px;

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(18px);

    border-radius:25px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    box-shadow:0 15px 30px rgba(0,0,0,.35);

    transition:.35s;

}

.box:hover{

    transform:translateY(-10px);

}

.box span{

    font-size:46px;

    font-weight:700;

    color:#FFD700;

}

.box small{

    margin-top:10px;

    font-size:16px;

}


/*====================================
    SECTION TITLE
====================================*/

.section-title{

    text-align:center;

    margin-bottom:50px;

}

.section-title h2{

    font-size:42px;

    color:#FFD700;

}

.section-title p{

    margin-top:10px;

    color:#eee;

}


/*====================================
    PRIZES
====================================*/

.prizes{

    width:90%;

    max-width:1300px;

    margin:120px auto 80px;

}

.prize-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.prize-card{

    position:relative;

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(18px);

    border-radius:25px;

    overflow:hidden;

    text-align:center;

    box-shadow:0 15px 30px rgba(0,0,0,.30);

    transition:.35s;

}

.prize-card:hover{

    transform:translateY(-10px);

}

.prize-card img{

    width:100%;
    height:280px;
    object-fit:contain;
    padding:20px;
    background:#ffffff00;
    border-radius:20px 20px 0 0;

}

.prize-card h3{

    margin-top:20px;

    color:#FFD700;

    font-size:25px;

}

.prize-card p{

    margin:15px 0 25px;

    color:#eee;

}


/*====================================
    BADGES
====================================*/

.badge{

    position:absolute;

    top:15px;

    left:15px;

    padding:8px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;

    background:#0a8a39;

}

.gold{

    background:#FFD700;

    color:black;

}

.silver{

    background:#C0C0C0;

    color:black;

}

.bronze{

    background:#CD7F32;

}


/*====================================
    VIEW ALL BUTTON
====================================*/

.view-all{

    margin-top:45px;

    text-align:center;

}


/*====================================
    SEARCH SECTION
====================================*/

.search-section{

    width:90%;

    max-width:850px;

    margin:100px auto;

    text-align:center;

}

.search-section h2{

    color:#FFD700;

    font-size:40px;

}

.search-section p{

    margin-top:10px;

    color:#eee;

}


/*====================================
    SEARCH BOX
====================================*/

.search-box{

    margin-top:40px;

    display:flex;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    padding:12px;

    border-radius:60px;

    box-shadow:0 15px 30px rgba(0,0,0,.3);

}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    font-size:18px;

    padding:15px 20px;

}

.search-box input::placeholder{

    color:#ddd;

}

.search-box button{

    border:none;

    background:#FFD700;

    color:black;

    padding:15px 35px;

    border-radius:40px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.search-box button:hover{

    background:#0a8a39;

    color:white;

}


/*====================================
    RESULT CARD
====================================*/

.result-card{

    display:none;

    margin-top:40px;

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(20px);

    border-radius:25px;

    padding:35px;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

    animation:fadeUp .5s ease;

}

.result-icon{

    font-size:65px;

    margin-bottom:15px;

}

#resultTitle{

    color:#FFD700;

    margin-bottom:20px;

    font-size:30px;

}

#resultMessage{

    white-space:pre-line;

    font-size:19px;

    line-height:2;

    color:white;

}


/*====================================
    ANIMATION
====================================*/

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}
/*====================================
    ABOUT SECTION
====================================*/

.about{

    width:90%;
    max-width:1100px;
    margin:80px auto;

}

.about-card{

    background:rgba(255,255,255,.10);
    backdrop-filter:blur(18px);

    padding:40px;

    border-radius:25px;

    text-align:center;

    line-height:2;

    font-size:18px;

    color:#fff;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}


/*====================================
    CONTACT
====================================*/

.contact{

    width:90%;

    max-width:1000px;

    margin:80px auto;

}

.contact-card{

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(18px);

    padding:40px;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.contact-card p{

    font-size:18px;

    margin:20px 0;

}

.contact-card i{

    width:35px;

    color:#FFD700;

}


/*====================================
    FOOTER
====================================*/

footer{

    margin-top:100px;

    padding:50px 20px;

    background:rgba(0,0,0,.45);

    backdrop-filter:blur(15px);

    text-align:center;

}

footer img{

    width:90px;

    margin-bottom:20px;

}

footer h3{

    color:#FFD700;

    margin-bottom:10px;

}

footer p{

    color:#ddd;

    margin:8px 0;

}


/*====================================
    WHATSAPP
====================================*/

.floating-whatsapp{

    position:fixed;

    right:25px;

    bottom:95px;

    width:65px;

    height:65px;

    background:#25D366;

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:32px;

    text-decoration:none;

    box-shadow:0 10px 25px rgba(0,0,0,.35);

    transition:.3s;

    z-index:999;

}

.floating-whatsapp:hover{

    transform:scale(1.1);

}


/*====================================
    BOTTOM NAVIGATION
====================================*/

.bottom-nav{

    display:none;

}


/*====================================
    SCROLLBAR
====================================*/

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:#FFD700;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#022611;

}


/*====================================
    MOBILE
====================================*/

@media(max-width:991px){

header{

padding:15px 20px;

}

nav{

display:none;

}

.menu{

display:block;

color:white;

}

nav.show{

display:flex;

position:absolute;

top:90px;

left:0;

width:100%;

background:#063b18;

flex-direction:column;

padding:20px;

}

nav.show a{

padding:12px;

}

.hero h1{

font-size:42px;

}

.hero h2{

font-size:28px;

}

.hero-overlay{

padding:35px;

}

.hero-buttons{

flex-direction:column;

}

.search-box{

flex-direction:column;

border-radius:25px;

}

.search-box button{

width:100%;

margin-top:10px;

}

.timer{

gap:15px;

}

.box{

width:110px;

height:110px;

}

.box span{

font-size:30px;

}

.prize-grid{

grid-template-columns:1fr;

}

.bottom-nav{

display:flex;

justify-content:space-around;

align-items:center;

position:fixed;

bottom:0;

left:0;

width:100%;

height:70px;

background:#032d14;

z-index:999;

}

.bottom-nav a{

color:white;

text-decoration:none;

display:flex;

flex-direction:column;

align-items:center;

font-size:12px;

}

.bottom-nav i{

font-size:20px;

margin-bottom:5px;

}

footer{

padding-bottom:90px;

}

}


/*====================================
    SMALL MOBILE
====================================*/

@media(max-width:500px){

.logo img{

width:50px;

height:50px;

}

.logo h2{

font-size:16px;

}

.logo p{

font-size:11px;

}

.hero{

padding-top:130px;

}

.hero h1{

font-size:34px;

}

.hero h2{

font-size:24px;

}

.hero p{

font-size:16px;

}

.hero-logo{

width:90px;

}

.section-title h2,

.search-section h2,

.countdown h2{

font-size:30px;

}

.contact-card{

padding:25px;

}

.about-card{

padding:25px;

}

.result-card{

padding:25px;

}

.result-icon{

font-size:50px;

}

#resultTitle{

font-size:24px;

}

#resultMessage{

font-size:17px;

}

.floating-whatsapp{

width:55px;

height:55px;

font-size:26px;

bottom:85px;

right:15px;

}

}
/*==============================
CONFETTI
==============================*/

.confetti{

    position:fixed;

    width:12px;
    height:12px;

    top:-20px;

    z-index:9999;

    animation:fall linear forwards;

}

@keyframes fall{

0%{

transform:translateY(0) rotate(0deg);

opacity:1;

}

100%{

transform:translateY(110vh) rotate(720deg);

opacity:0;

}

}
/* Mobile Logo Size */
@media screen and (max-width:768px){

    .hero-logo{
        width:160px !important;
        height:auto;
    }

}
